<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- /Fontawesome -->
    <!-- Custom style -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <main>
        <div class="wrapper">
          <div class="app-container">
            <!-- Sidebar sinistra -->
            <div class="left-sidebar">
              <!-- Header -->
              <div class="header">
                <img src="img/avatar_io.jpg" alt="user-avatar" />
                <ul class="actions">
                  <li><i class="fa-solid fa-circle-notch"></i></li>
                  <li><i class="fa-solid fa-message"></i></li>
                  <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </ul>
              </div>
              <!-- /Header -->
              <!-- Notifiche -->
              <div class="notification">
                <div class="bell">
                  <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="notification-text">
                  <h4>Ricevi notifiche di nuovi messaggi</h4>
                  <span>Attiva notifiche desktop</span>
                </div>
              </div>
              <!-- /Notifiche -->
              <!-- Casella di ricerca -->
              <div class="search-bar">
                <div class="search-control">
                  <label for="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </label>
                  <input
                    id="search"
                    type="search"
                    placeholder="Cerca o inizia una nuova chat"
                  />
                </div>
              </div>
              <!-- Casella di ricerca -->
              <!-- Contatti -->
              <ul class="contacts">
                <li v-for="(contact, index) in contacts" :key="contact.avatar" class="contact-item" :class="index === activeChat ? 'active' : ''" @click="activeChat = index">
                  <!-- Avatar contatto -->
                  <img :src="`img/avatar${contact.avatar}.jpg`" alt="contact avatar" />
                  <!-- /Avatar contatto -->
                  <!-- Nome contatto e testo messaggio più recente -->
                  <div class="contact-content">
                    <h4 class="contact-name">{{ contact.name }}</h4>
                    <span class="recent-text"
                      >Lorem ipsum dolor sit amet...</span
                    >
                  </div>
                  <!-- /Nome contatto e testo messaggio più recente -->
                  <span class="recent-text-time">16:15</span>
                </li>
              </ul>
              <!-- /Contatti -->
            </div>
            <!-- /Sidebar sinistra -->
            <!-- Sidebar destra -->
            <div class="right-sidebar">
              <div class="header">
                <!-- Info chat attuale -->
                <div class="current-chat">
                  <img
                    :src="`img/avatar${contacts[activeChat].avatar}.jpg`"
                    alt="current chat contact avatar"
                  />
                  <div class="contact-content">
                    <h4 class="contact-name">{{ contacts[activeChat].name }}</h4>
                    <span class="last-seen"
                      >Ultimo accesso oggi alle 16:26</span
                    >
                  </div>
                </div>
                <!-- Info chat attuale -->
                <ul class="actions">
                  <li><i class="fa-solid fa-search"></i></li>
                  <li><i class="fa-solid fa-paperclip"></i></li>
                  <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </ul>
              </div>
              <main>
                <div class="chat-box">
                  <div v-for="(msg, index) in contacts[activeChat].messages" :key="index" class="chat-text" :class="msg.status">
                    <div class="text-content">
                      <p>{{ msg.message }}</p>
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <span class="text-time-sent">16:13</span>
                  </div>
                </div>
              </main>
              <footer>
                <div class="footer-box">
                  <i class="fa-regular fa-face-smile"></i>
                  <input type="text" placeholder="Scrivi un messaggio" />
                  <i class="fa-solid fa-microphone"></i>
                </div>
              </footer>
            </div>
            <!-- /Sidebar destra -->
          </div>
        </div>
      </main>
    </div>
    <!-- Scripts -->
        <!-- Vuejs -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- Custom script -->
        <script src="js/script.js"></script>
    <!-- /Scripts -->
  </body>
</html>
